@charset "utf-8";
/* CSS Document */
.login-card{
	padding: 40px;
  width: 1090px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.eq{
	text-align:center;	
	border-radius:10px;
	
}
input{width:200px;}
textarea{width:608px; height:150px;}
#inp{width:600px;}
*{margin:0; padding:0; font-family:calibri}

